body{
  width: 200px;
  height: 200px;
  background-color: grey;
  background-image: url("img/mang'u.jpeg");}

@keyframes animatedBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }
#animate-area {
  width: 200px;
  height: 200px;
  background-image: url(http://placekitten.com/400/200);
  background-position: 0px 0px;
  background-repeat: repeat-x;
  animation: animatedBackground 10s linear infinite alternate;
}

}
.sidenav{
  background-color: green;
  display: block;
  float: left;
  margin-right: 100px;
  height: 100vh;
  margin-left: 0px;
  background-image: url("img/mycar.jpeg");
  background-color: pink;
}
.top{
  background-color: orange;
  margin-top: 0px;
  height: 20vh;
  margin-bottom: 30px;
  align-content: center;
  animation-name: mbai;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
.dong{
  overflow:visible;
}
.kuria{
  text-decoration-color: red;
}
#p{
  color:green;
  animation-name:rita;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
#l{
  color:pink;
}
#h{
color:green;
}
#kiki{
  color:purple;
}
@keyframes kuchez{
  from{background-color: green;}
  to{background-color: purple;}
}
.sidenav{
  animation-name:kuchez;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}
.btn{
  animation-name: kuchez;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: reverse;

}
@keyframes rita{
  from{background-color: green;}
  to{background-color: red;}
}
.pino{
animation-delay: 14s;
  animation: fadeIn both 7s;}
  @keyframes mbai{
    from{background-color: green;}
    to{background-color: white;}
    accepted


@keyframes animatedBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }
}
#animate-area {
  width: 200px;
  height: 200px;
  background-image: url(http://placekitten.com/400/200);
  background-position: 0px 0px;
  background-repeat: repeat-x;
  animation: animatedBackground 10s linear infinite alternate;
}
